<ion-header>
  <ion-toolbar color="danger">
    <ion-title>characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-lg="6" size-sm="3" style="background-color: blue;"><ion-icon name="people"></ion-icon></ion-col>
    <ion-col size="12" size-lg="6" size-sm="9" style="background-color: green;">size 6</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3" style="background-color: red;">size 6</ion-col>
    <ion-col size="9" style="background-color: yellow;">size 6</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" style="background-color: darkgray;">size 6</ion-col>
    <ion-col size="4" style="background-color: brown;">size 6</ion-col>
    <ion-col size="4" style="background-color: cyan;">size 6</ion-col>
  </ion-row>

</ion-grid>
</ion-content>
